.racer_table {
  background-color: white;
  border: 1px solid black;
  height: 20px;
  width: 20px;
}

td {
  padding: 20px; 
  border: 1px solid black; 
}
  

.racer_table td.active {
  background-color: black;
}
